{% extends "::base.html.twig" %}
  
{% block body %}
    
    <div class="container">
        
        <h2>Elastic search - Poland Postal Codes</h2>
        <div class="row">
            <div class="col-md-5">
                {{ form(form) }}
            </div>
        </div>  
            
        {% if cityBuckets is not empty %}
            
            <h2>Top hits aggregation cities (best hit for each city)</h2>
            <table class="table">
                <tr>
                    <th><strong>City</strong></th>
                    <th>Postal</th>
                    <th>Street</th>
                    <th>Province</th>
                </tr>
            {% for bucket in cityBuckets %}
                <tr>
                    <td><strong>{{ bucket.city_hits.hits.hits[0]._source.cityName }}</strong></td>
                    <td>{{ bucket.city_hits.hits.hits[0]._source.code }}</td>
                    <td>{{ bucket.city_hits.hits.hits[0]._source.streetName }}</td>
                    <td>{{ bucket.city_hits.hits.hits[0]._source.provinceName }}</td>
                </tr>
            {% endfor %}
            {% if cityPager is not null and cityPager.haveToPaginate %}
                <tr>
                    <td colspan="4">
                        <div class="pager">
                            {{ pagerfanta(cityPager, 'twitter_bootstrap3', {
                                'routeName': 'code_list',
                                'routeParams': app.request.query.all,
                                'prev_message': 'Previous',
                                'next_message': 'Next'
                            }) }}
                        </div>
                    </td>
                </tr>
                {% endif %}
            </table>
            
        {% endif %}    
        
        {% if streetBuckets is not empty %}
            
            <h2>Top hits aggregation streets (best hit for each street)</h2>
            <table class="table">
                <tr>
                    <th>City</th>
                    <th>Postal</th>
                    <th><strong>Street</strong></th>
                    <th>Province</th>
                </tr>
            {% for bucket in streetBuckets %}
                <tr>
                    <td>{{ bucket.street_hits.hits.hits[0]._source.cityName }}</td>
                    <td>{{ bucket.street_hits.hits.hits[0]._source.code }}</td>
                    <td><strong>{{ bucket.street_hits.hits.hits[0]._source.streetName }}</strong></td>
                    <td>{{ bucket.street_hits.hits.hits[0]._source.provinceName }}</td>
                </tr>
            {% endfor %}
            {% if streetPager is not null and streetPager.haveToPaginate %}
                <tr>
                    <td colspan="4">
                        <div class="pager">
                            {{ pagerfanta(streetPager, 'twitter_bootstrap3', {
                                'routeName': 'code_list',
                                'routeParams': app.request.query.all,
                                'prev_message': 'Previous',
                                'next_message': 'Next'
                            }) }}
                        </div>
                    </td>
                </tr>
                {% endif %}
            </table>
        
        {% endif %}  
        
    </div>
        
{% endblock %}